<div class="container">
    <div class="row">
        <div class="col">
            <h2>Agregar novedades</h2>
            <form action="/admin/novedades/agregar" method="post">
             <div class="mb-3">
                <input type="text" class="form-control" id="titulo" placeholder="titulo" name="titulo">
            </div>

            <div class="mb-3">
                <textarea type="text" class="form-control" id="titulo" placeholder="subtitulo" name="subtitulo"></textarea>
            </div>
            <div class="mb-3">
                <textarea type="text" class="form-control" id="titulo" placeholder="contenido" name="cuerpo"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if message}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>

