<main class="holder"> 
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="">
        </div>
        <div class="columnas">
        <div class="bienvenidos">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, sunt! Ex ipsum laboriosam voluptas! Mollitia eos laudantium sapiente quo quas ratione recusandae consectetur pariatur voluptas vel modi vitae, suscipit dolore?</p>
        </div>
        <div class="testimonios">
        <h2>Testimonios</h2>
            <div class="testimonio">
                 <span class="cita"> Simplemente excelente</span>
                 <span class="autor">Juan Gomez - zapatos.com</span>
            </div>
        </div>
        </div>

    </main>
