<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes X</title>
    <link rel = "preconnect" href = "https://fonts.googleapis.com">
<link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin>
<link href = "https: //fonts.googleapis.com/css2? family = Open + Sans + Condensed: wght @ 300 & display = swap "rel =" stylesheet ">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/transportesx.css">
</head>
  <body>
    <header >
    <div class="holder">
        <div class="logo">
            <img src="images/logo.png" width="100" alt="transportes x">
            <h1>Transportes X </h1>
        </div>
    </div>
    </header>
    <nav>
        <ul class="holder">
            <li><a href="/">Home</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/galeria">Galeria</a></li>
            <li><a href="/novedades">Novedades</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    {{{body}}}

    <footer>
        <p>Diseñado por: Leandro Lazo -2021</p>
    </footer>
  </body>
</html>
