<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, quo sapiente? Illo quaerat qui sunt quibusdam? Vitae dolorum saepe, vero ratione iusto ipsam accusamus dolores, perspiciatis, aliquid velit quis eum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti placeat sint, sit architecto, iste similique porro facilis numquam praesentium adipisci quis a ad quas odio quos perferendis officiis exercitationem minima!</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente quaerat impedit quas incidunt debitis maiores at adipisci nostrum. Omnis tenetur sunt, architecto sapiente molestiae ducimus sint perspiciatis ipsa? Molestiae!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Juana Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente quaerat impedit quas incidunt debitis maiores at adipisci nostrum. Omnis tenetur sunt, architecto sapiente molestiae ducimus sint perspiciatis ipsa? Molestiae!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente quaerat impedit quas incidunt debitis maiores at adipisci nostrum. Omnis tenetur sunt, architecto sapiente molestiae ducimus sint perspiciatis ipsa? Molestiae!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Juana Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente quaerat impedit quas incidunt debitis maiores at adipisci nostrum. Omnis tenetur sunt, architecto sapiente molestiae ducimus sint perspiciatis ipsa? Molestiae!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente quaerat impedit quas incidunt debitis maiores at adipisci nostrum. Omnis tenetur sunt, architecto sapiente molestiae ducimus sint perspiciatis ipsa? Molestiae!</p>
                </div>
            </div>
        </div>
 
    </main>