<main class="holder">
        <h2>Servicios</h2>
        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="">
            <div class="info">
                <h4>Transporte Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus esse, saepe nihil amet, sunt placeat beatae aperiam quas perferendis fuga et alias non! Aut voluptate nisi ut ratione deleniti.</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="">
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus esse, saepe nihil amet, sunt placeat beatae aperiam quas perferendis fuga et alias non! Aut voluptate nisi ut ratione deleniti.</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="">
            <div class="info">
                <h4>Transporte Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus esse, saepe nihil amet, sunt placeat beatae aperiam quas perferendis fuga et alias non! Aut voluptate nisi ut ratione deleniti.</p>
            </div>
        </div>
        <div class="servicio">
            <img src="images/servicios/terrestre.jpg" alt="">
            <div class="info">
                <h4>Transporte Terrestre</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error temporibus esse, saepe nihil amet, sunt placeat beatae aperiam quas perferendis fuga et alias non! Aut voluptate nisi ut ratione deleniti.</p>
            </div>
        </div>
    </main>
ages